<html>
<head>
    <title>Курьер</title>
</head>
<body>
<div>
    <form method="post">
        <input type="text" name="orderNumber" placeholder="Введите номер заказа" />
        <button type="submit">Не успеваю</button>
    </form>
</div>
</body>
</html>